@charset "utf-8";

body {
	background-color: #395475;
	line-height: 1.6;
	font-size: 0.875em;
	font-family: "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-weight: bold;
	color:#000000;
}

a:link {
	color: #b4b4b4;
	text-decoration: none;
}

a:visited {
	color: #b4b4b4;
	text-decoration: none;
}

a:hover {
	color: #b4b4b4;
	text-decoration: underline;
}

a:active {
	color: #b4b4b4;
	text-decoration: none;
}

/* フロート　クリア */
.clear {
	clear: both;
}

/* ラッパー */
#wrapper {
	background-color: #ffffff;
	width: 960px;
	margin: 0px auto;
}

/* コンテナ */
#container {
	padding: 14px 28px;
}

/* ヘッダー */
#header {

}

h1 {
	float: left;
	font-family: "Courier New", Courier, serif;
	font-size: 2.0em;
	letter-spacing: -0.05em;
}

#header ul, #header ul#headlink{
	text-align: right;
}

#header li {
	display: inline;
	border-right: 1px solid #b4b4b4;
	margin-right: 5px;
	padding-right: 5px;
}

ul a {
	font-size: 0.9em;
}

#headlink {
	margin-top: 5px;
}

#headlink a {
	background-color: #b4b4b4;
	color: #ffffff;
	padding: 5px;
}

#headlink a:hover {
	text-decoration: none;
}

#headlink li {
	border-right: 0px solid #ffffff;
	margin-right: 1px;
	padding-right: 0;
}

#header h2 {
	color: #a7b1be;
	font-size: 2.0em;
	margin-top: 15px;
	text-align: right;
}

/* コンテンツ */
#contents {
	width: 904px;
}

/* 左のコンテンツ */
#leftcontents {
	float: left;
	width: 478px;
}

#leftcontents h2 {
	color: #a7b1be;
	font-size: 2.0em;
	margin-top: 15px;
	text-align: left;
}

#leftcontents ul {
	color: #b4b4b4;
	text-indent: 1em;
	list-style-type: disc;
}

/* 右のコンテンツ */
#rightcontents {
	width: 426px;
	float: right;
}

#rightcontents p {
	text-indent: 1em;
	margin-bottom: 1em;
}

h3 {
	color: #a5b8c0;
	font-size: 1.5em;
	line-height: 1.0;
	padding-top: 28px;
	margin-bottom: 28px;
}

/* フロートクリア */
#clearfloat {
	border-top: 60px solid #deecfc;
	clear: both;
}

/* フッター */
#footer {
	background-color: #a5b8c0;
	color: #ffffff;
	padding: 28px 28px 28px 0;
	text-align: right;
}